<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" th:href="@{/MyCSS.css}" href="../static/MyCSS.css">
    <link rel="stylesheet" th:href="@{/FormCSS.css}" href="../static/FormCSS.css">


</head>
<body>
<div class="topnav">
    <a th:href="@{'/'}"class="backButton">←</a>
</div>
<h1>Opdater Sogn</h1>
<div class="container">
<form action="/update" th:object="${sogn}" method="post">
    <div>
        <input type="hidden" name="id" th:value="${id}">
        <div>
        <label for="navn">Navn:</label>
        <input id="navn"  type="text" name="navn" th:field="*{navn}" th:value="${navn}">
        </div>
        <div>
        <label for="sognekode">Sognekode:</label>
        <input id="sognekode"  type="number" name="sogneKode" th:field="*{sogneKode}"  th:value="${sogneKode}">
        </div>
        <div>
        <label for="kommune">Kommune:</label>
        <input id="kommune"  type="text" name="kommune" th:field="*{kommune}" th:value="${kommune}">

        <div>
            <label for="incidens">Incidens:</label>
            <input id="incidens"  type="text" name="incidens" th:field="*{incidens}" th:value="${incidens}">
        </div>

            <div class="row">
        <input type="submit" value="UPDATE" role="button">
    </div>

        </div>
</form>

</body>
</html>